<meta article_title="Comments" api_host="http://localhost:3003"/>
<meta comment_view_limit="10" page_limit="10"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@1.2.3/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/vs.min.css"/>
<script></script>
<div id="comment_view">
    <div class="comment_block" :id="'idx'+comment.idx" v-for="(comment, i) in comments_view">
        <div class="comment_upview">  
            <div class="comment_idx"> #{{comment.idx}}|</div> 
            <div class="comment_name">{{comment.name}}</div>
            <div v-show="refmap[comment.ref]!=undefined" class="ref_view" @click="goto_ref(refmap[comment.ref])">"ref #{{refmap[comment.ref]}}"</div>   
            <div class="comment_date"> 
                {{ new Date(new Date(comment.date).getTime() - new Date(comment.date).getTimezoneOffset()*60*1000).toLocaleString('zh', { hour12: false, timeZone: 'UTC'}) }}
            </div>
            <input class="reply_button" type="button" value="reply" @click="set_ref(comment._id, comment.idx)"/>
        </div>
        <p v-show="text_type=='raw'">{{comment.content}}</p>
        <div v-show="text_type!='raw'" v-html="comment.html"></div>
    </div>

    <div id="page_num_view">
        <p class="page_num"  
         :style='val==cur_page ? "background: deepskyblue" : "" ' 
         v-for="(val, i) in page_view" 
         v-show="show_page_button(i)"
         @click="select_page(i)" > {{val}} </p>
        <input type="text" class="page_goto" 
          oninput="value=value.replace(/[^\d]/g,'')" v-model="cur_page" 
          @keyup.enter="goto_page(cur_page)"/>
        <p class="page_summary">{{comments.length}} items, in {{page_count}} pages</p>
        <input  type="button" :id="text_type+'_button'" :value="text_type" @click="change_text_type(text_type == 'md' ? 'raw' : 'md')"/>
        <a href="https://github.com/YuriSizuku/MiniComment" target="_blank" class="comment_idx">MiniComment</a>
     </div>
</div>

<div id="submit_view" >
    <form @submit="submit_comment" class="comment_submit_form">
        <div class="comment_submit_upview comment_name">
        name: <input type="text" v-model="name"/> 
        *email: <input type="email" v-model="email" placeholder="email will not display"/>
        <div v-html="captcha_data" @click="get_captcha" style="display: inline-block;"></div>
        <input type="text" v-model="captcha_code" style="width: 2.8em;"/>
        <input type="submit" value="submit"/> 
        <div v-show="refstr!=''" class="ref_view"> 
            replyto: {{refstr}} 
            <input type="button" value="reset" @click="reset_ref">
        </div>
        </div>
        <textarea v-model="content" rows="8" class="comment_submit_downview"></textarea>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="./minicomment.css" />
<script src="./minicomment.js"></script>